#!/usr/bin/env bash
set -euo pipefail

trap "exit" INT TERM
trap "kill 0" EXIT

source {{ joinPath .chezmoi.sourceDir "scripts" "vars.sh" | quote }}

{{- if (eq .chezmoi.os "linux") }}
sudo -v || exit $?
sleep 1

while true; do
    sleep 60
    sudo -nv
done 2> /dev/null &

. {{ joinPath .chezmoi.sourceDir "scripts" "basic.sh" | quote }}

sudo pacman -Syu --noconfirm

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "paru.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "sys_setup.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "sys_musicprod.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "sys_virt.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "sys_ssh.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "desktop.sh" | quote }}

case "$DE" in
    "gnome") . {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "gnome.sh" | quote }} ;;
    "kde") . {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "kde.sh" | quote }} ;;
    "hyprland") . {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "hyprland.sh" | quote }} ;;
    *) echo "No valid desktop selected" ;;
esac

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "apps.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "devel.sh" | quote }}
. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "devel_ui.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "gaming.sh" | quote }}
. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "waydroid.sh" | quote }}

. {{ joinPath .chezmoi.sourceDir "scripts" "linux" "arch-btw" "shell.sh" | quote }}
{{- end }}

{{- if (eq .chezmoi.os "android") -}}
. {{ joinPath .chezmoi.sourceDir "scripts" "android" "setup.sh" | quote }}
. {{ joinPath .chezmoi.sourceDir "scripts" "android" "shell.sh" | quote }}
{{- end }}

[ -e "$REPO_DIR/.first-time-done" ] || touch "$REPO_DIR/.first-time-done"
run={{ joinPath .chezmoi.sourceDir "run.sh" | quote }}
if [ -f "$run" ]; then
    [ -x "$run" ] || chmod +x "$run"
else
    chezmoi execute-template <{{ joinPath .chezmoi.sourceDir ".chezmoiscripts" "run_once_before_preapply.sh.tmpl" | quote }} >"$run"
    chmod +x "$run"
fi
