{{ if (eq .chezmoi.os "windows") -}}
$ErrorActionPreference = "Ignore"
# registry hash: {{ include (joinPath .chezmoi.workingTree "vault" "util.json") | sha256sum }}

# before
{{ joinPath .chezmoi.workingTree "vault" "util.json" | include | fromJson | jq `.[] | select(.__before__) | .__before__ | select(.windows) | .windows.[]` | join "\n"}}

# exec
{{ joinPath .chezmoi.workingTree "vault" "util.json" | include | fromJson | jq `.[] | select(.windows.winget) | "echo '====[ \(.name) ]====' \npowershell -c { \(.windows.notwhen // "winget list --id \(.windows.winget) *>$null") ; exit $LASTEXITCODE } || { \(.windows.before // "echo ''") && winget install --id \(.windows.winget) --accept-source-agreements --accept-package-agreements --silent && \(.windows.after // "echo ''") }"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "util.json" | include | fromJson | jq `.[] | select(.windows.scoop) | "echo '====[ \(.name) ]====' \npowershell -c { \(.windows.notwhen // "if ($(scoop.ps1 list \(.windows.scoop) 6> $null) -eq $null) { exit 1 }") ; exit $LASTEXITCODE } || { \(.windows.before // "echo ''") && scoop install \(.windows.scoop) && \(.windows.after // "echo ''") }"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "util.json" | include | fromJson | jq `.[] | select(.windows.sh) | "echo '====[ \(.name) ]====' \npowershell -c { \(.windows.notwhen // "exit 0") ; exit $LASTEXITCODE } || { \(.windows.before // "echo ''") && \(.windows.sh) && \(.windows.after // "echo ''") }"` | join "\n" }}

# after
{{ joinPath .chezmoi.workingTree "vault" "util.json" | include | fromJson | jq `.[] | select(.__after__) | .__after__ | select(.windows) | .windows.[]` | join "\n"}}

{{ end -}}
