{{ $location := promptStringOnce . "location" "Workspaces default directory" }}
{{ $host := promptStringOnce . "host" "Machine hostname" }}
encryption = "age"
mode = "symlink"

[age]
identity = {{ joinPath .chezmoi.workingTree "private_key" | quote }}
recipient = "age1pxk303ke8xg5vepuft8nmnp5fkcc3l6930qxq9g5n9gjyg607feqcamunj"

[edit]
command = "nvim"

[data]
default_workspace_location = {{ $location | quote }}
host = {{ $host | quote }}
{{ if (eq .chezmoi.os "windows") -}}
{{ $justGaming := promptBoolOnce . "justGaming" "Is this Windows machine just for games"}}
justGaming = {{ $justGaming }}
{{ end -}}
{{ if (eq .chezmoi.os "linux") -}}
{{ $fedora := promptBoolOnce . "fedora" "Is this distro fedora?"}}
fedora = {{ $fedora }}
{{ end -}}
