export FZF_DEFAULT_OPTS="--delimiter=\t --exit-0 --select-1  --bind=ctrl-z:ignore,btab:up,tab:down --cycle --keep-right --height=50% --info=inline --layout=reverse --tabstop=1 --color 16"
export RCLONE_CONFIG="~/.config/rclone/config.conf"
export BAT_CONFIG_PATH="~/.config/bat/config"
export EDITOR=$(which nvim)
export XDG_CONFIG_HOME=~/.config
export XDG_DATA_HOME=~/.local/share
export XDG_CACHE_HOME=~/.cache
export WORKSPACEROOT="{{- .default_workspace_location -}}"
export PATH="$HOME/bin:$PATH"
xmodmap -e "remove lock = Caps_Lock"
xmodmap -e "keycode 66 = Control_L"
xmodmap -e "add control = Control_L"
