{{ if (eq .chezmoi.os "linux") -}}
#!/bin/sh

# registry hash: {{ include (joinPath .chezmoi.workingTree "vault" "dev.json") | sha256sum }}

# before
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__before__) | .__before__ | select(.linux) | .linux.[]` | join "\n"}}

{{ if (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__before__) | .__before__ | select(.ubuntu) | .ubuntu.[]` | join "\n"}}
{{ end -}}

{{ if (eq .chezmoi.osRelease.id "fedora") -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__before__) | .__before__ | select(.fedora) | .fedora.[]` | join "\n"}}
{{ end -}}


# exec
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.linux.flatpak) | "echo '====[ \(.name) ]====' \n\(.linux.notwhen // "flatpak info \(.linux.flatpak) 2> /dev/null") || (_(){ \(.linux.before // "true") && flatpak install -y flathub \(.linux.flatpak) && \(.linux.after // "true"); };_)"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.linux.sh) | "echo '====[ \(.name) ]====' \n\(.linux.notwhen // "false") || (_(){ \(.linux.before // "true") && (\(.linux.sh)) && \(.linux.after // "true"); };_)"` | join "\n" }}

{{ if (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.ubuntu.apt) | "echo '====[ \(.name) ]====' \n\(.ubuntu.notwhen // "which \(.ubuntu.apt)") || (_(){ \(.ubuntu.before // "true") && sudo apt install -y \(.ubuntu.apt) && \(.ubuntu.after // "true"); };_)\n"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.ubuntu.flatpak) | "echo '====[ \(.name) ]====' \n\(.ubuntu.notwhen // "flatpak info \(.ubuntu.flatpak) 2> /dev/null") || (_(){ \(.ubuntu.before // "true") && flatpak install -y flathub \(.ubuntu.flatpak) && \(.ubuntu.after // "true"); };_)"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.ubuntu.sh) | "echo '====[ \(.name) ]====' \n\(.ubuntu.notwhen // "false") || (_(){ \(.ubuntu.before // "true") && (\(.ubuntu.sh)) && \(.ubuntu.after // "true"); };_)"` | join "\n" }}
{{ end -}}

{{ if (eq .chezmoi.osRelease.id "fedora") -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.fedora.dnf) | "echo '====[ \(.name) ]====' \n\(.fedora.notwhen // "which \(.fedora.dnf)") || (_(){ \(.fedora.before // "true") && sudo dnf install -y \(.fedora.dnf) && \(.fedora.after // "true"); };_)\n"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.fedora.flatpak) | "echo '====[ \(.name) ]====' \n\(.fedora.notwhen // "flatpak info \(.fedora.flatpak) 2> /dev/null") || (_(){ \(.fedora.before // "true") && flatpak install -y flathub \(.fedora.flatpak) && \(.fedora.after // "true"); };_)"` | join "\n" }}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.fedora.sh) | "echo '====[ \(.name) ]====' \n\(.fedora.notwhen // "false") || (_(){ \(.fedora.before // "true") && (\(.fedora.sh)) && \(.fedora.after // "true"); };_)"` | join "\n" }}
{{ end -}}


export ASDF_DATA_DIR="/opt/asdf"
export ASDF_DIR="/opt/asdf"
[ -f /opt/asdf/asdf.sh ] && . /opt/asdf/asdf.sh

{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.asdf) | "echo '====[ \(.name) ]====' \n\(.asdf.notwhen // "asdf where \(.asdf.plugin | split(" ") | .[0]) 2> /dev/null") || (_(){ \(.asdf.before // "true") && (asdf plugin add \(.asdf.plugin)) && (\(if (.asdf.install) then "asdf install \(.asdf.install) &&" else "" end) asdf global \(.asdf.use)) && \(.asdf.after // "true"); };_)"` | join "\n" }}

# after
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__after__) | .__after__ | select(.linux) | .linux.[]` | join "\n"}}

{{ if (and (hasKey .chezmoi.osRelease "idLike") (eq .chezmoi.osRelease.idLike "ubuntu debian")) -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__after__) | .__after__ | select(.ubuntu) | .ubuntu.[]` | join "\n"}}
{{ end -}}

{{ if (eq .chezmoi.osRelease.id "fedora") -}}
{{ joinPath .chezmoi.workingTree "vault" "dev.json" | include | fromJson | jq `.[] | select(.__after__) | .__after__ | select(.fedora) | .fedora.[]` | join "\n"}}
{{ end -}}

{{ end -}}
