* {
    accent:                      #ffb5a1;
    accentfg:                    #561f10;
    foreground:                  #f1dfda;
    background:                  #1a110fDF;
    urgent-foreground:           #690005;
    urgent-background:           #ffb4ab;
}
