{{ if (eq .chezmoi.os "linux") -}}
#!/bin/sh

# hostname
sudo hostname {{ .host }}

{{ if (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
# Caps Lock to control, control intact
xmodmap -e "remove lock = Caps_Lock"
xmodmap -e "keycode 66 = Control_L"
xmodmap -e "add control = Control_L"
{{ end -}}

{{ end -}}
