{{ if (and (eq .chezmoi.os "linux") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) -}}
#!/bin/sh

sudo apt install -y os-prober

GRUB_DISABLE_OS_PROBER=false
current_timeout=$(sudo grep -E "^GRUB_TIMEOUT=" /etc/default/grub | sudo sed 's/GRUB_TIMEOUT=//')
os_prober_disabled=$(sudo grep -E "^GRUB_DISABLE_OS_PROBER=" /etc/default/grub | sudo sed 's/GRUB_DISABLE_OS_PROBER=//')

if [ -z "$current_timeout" ] || [ "$current_timeout" -ne 1 ]; then
  echo "GRUB_TIMEOUT=1" | sudo tee -a /etc/default/grub
  echo "Setting GRUB timeout to 1 second..."
fi

if [ -z "$current_disable_prober" ] || [ "$current_disable_prober" = "true" ]; then
  echo "GRUB_DISABLE_OS_PROBER=false" | sudo tee -a /etc/default/grub
  echo "Setting GRUB_DISABLE_OS_PROBER to false..."
fi

sudo os-prober
sudo update-grub

{{ end -}}
